<div class="question-fields">
  <%= f.label :title, "Question" %>
  <%= f.select :type, ['single', 'multiple-choice'], :selected => 'multiple-choice' %>
  <%= link_to_remove_field "remove", f, 'default' %>
  <%= f.text_area :title, class: 'form-control', placeholder: 'Enter question' %>

  <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', :f => builder %>
  <% end %>
  <p class="indent">
    <span class="glyphicon glyphicon-plus"></span>
    <%= link_to_add_field "Add Answer", f, :answers %>
  </p>
</div>