<% provide(:title, "Edit Quiz") %>
<p class="margin-top"><span class="glyphicon glyphicon-chevron-left"></span> <%= link_to "Back to Quizzes", quizzes_path, title: "Back to Quizzes", alt: "Back to Quizzes" %></p>

<h1>Update your Quiz</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(quiz) do |f| %>
      <%= render 'shared/error_messages', :errors => quiz.errors %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.fields_for :questions do |builder| %>
        <%= render 'question_fields', :f => builder %>
      <% end %>

      <p class="add-question-link margin-bottom-taller">
        <span class="glyphicon glyphicon-plus"></span>
        <%= link_to_add_field "Add Question", f, :questions %>
      </p>
      <p><%= f.submit "Save changes", class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>