<% provide(:title, "Create Quiz") %>
<p><span class="glyphicon glyphicon-chevron-left"></span> <%= link_to "Back to Quizzes", quizzes_path %></p>

<h1>Create Quiz</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(quiz) do |f| %>
      <%= render 'shared/error_messages', :errors => quiz.errors %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.fields_for :questions do |q| %>
        <%= render 'question_fields', :q => q %>
      <% end %>

      <p class="margin-bottom-taller">
        <span class="glyphicon glyphicon-plus"></span>
        <%= link_to_add_fields "Add Question", f, :questions %>
      </p>
      <p><%= f.submit "Create my Quiz", class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>