<% provide(:title, quiz.title) %>
<p class="margin-top"><span class="glyphicon glyphicon-chevron-left"></span> <%= link_to "Back to Quizzes", quizzes_path, title: "Back to Quizzes", alt: "Back to Quizzes" %></p>

<h1><%= quiz.title %></h1>
<p><%= quiz.description %></p>
<hr class="separator" />

<% if quiz.questions && quiz.questions.size > 0 %>
  <% quiz.questions.each do |question| %>
    <h2 class="question"><%= question.title %></h2>
    <% if question.answers && question.answers.size > 0 %>
      <h3>Answer(s):</h3>
      <% question.answers.each do |answer| %>
        <p class="answer"><%= answer.answer %></p>
      <% end %>
    <% else %>
      <p>No answer available at this time.</p>
    <% end %>
  <% end %>
<% else %>
  <h2 class="question">No question available at this time.</h2>
<% end %>
