<% provide(:title, "Take A QUIZ!!") %>
<p class="margin-top"><span class="glyphicon glyphicon-chevron-left"></span> 
  <%= link_to "Back to Quizzes", quizzes_path, title: "Back to Quizzes", alt: "Back to Quizzes" %>
</p>
<h1>Take <%= quiz.title %></h1>

  we are here
  <%= form_for @quiz_attempt do |attempt| %>
    <%= attempt.text_field :quiz_id %>
      <%= fields_for @quiz_attempt.quiz_responses[0] do |response| %>
        <%= response.check_box :answer_id %>
      <% end %>
    <%= attempt.submit %>
  <% end %>

